*{
    margin: auto;
	box-sizing: border-box;
}

header{
    height: 100px;
    background: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px 0 20px;
}

.logo{
    cursor: pointer;
    width: 12,5vw;
}

#search{
    width: 50vw;
    font-size: 18px;
    line-height: 24px;
    -webkit-transition: background .3s ease 0s;
    transition: background .3s ease 0s;
    color: rgba(255,255,255,.5);
    padding: 16px 120px 16px 44px;
    border-radius: 56px;
    background-color: rgba(255,255,255,.2);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    
}

#search::placeholder{
    color: rgba(255,255,255,.5);
}

.search-loop{
    background-image: url(assets/694985.png);
    background-repeat: no-repeat;
    background-position: 18px 18px;
    background-size: 20px;
}




.basket{
    background: url(data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2224%22%20viewBox%3D%220%200%2027%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.5%201.5C8.5%202.5%206%202.5%204.5%202.5C3%202.5%200.5%202.5%200.5%201.5C0.5%200.5%203%200.5%204.5%200.5C6%200.5%208.5%200.5%208.5%201.5ZM11.8212%2016.119C11.3452%2016.1949%2010.8829%2015.9206%2010.7214%2015.4665L7.48289%206.35812C7.24913%205.70067%207.74355%205.01199%208.44122%205.02324L25.8008%205.30317C26.425%205.31324%2026.8875%205.88644%2026.7654%206.49865L25.4106%2013.2909C25.3288%2013.701%2025.0004%2014.017%2024.5874%2014.0828L11.8212%2016.119ZM13.6523%2021.0331C13.6523%2022.3178%2012.6109%2023.3593%2011.3262%2023.3593C10.0415%2023.3593%209%2022.3178%209%2021.0331C9%2019.7484%2010.0415%2018.707%2011.3262%2018.707C12.6109%2018.707%2013.6523%2019.7484%2013.6523%2021.0331ZM22.957%2023.3593C24.2417%2023.3593%2025.2832%2022.3178%2025.2832%2021.0331C25.2832%2019.7484%2024.2417%2018.707%2022.957%2018.707C21.6723%2018.707%2020.6309%2019.7484%2020.6309%2021.0331C20.6309%2022.3178%2021.6723%2023.3593%2022.957%2023.3593Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center/contain no-repeat;
    display: block;
    height: 27px;
    margin: 0 auto 6px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255,255,255,.6);
}

.text-basket{
    font-size: 17px;
    line-height: 20px;
    color: rgba(255,255,255,.6);
    cursor: pointer;
    background-color:unset;
    border-style: none;
}

.mySlides {
	display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin-top: 20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: 16px;
  padding: 10px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50px 50px 50px 50px;
  user-select: none;
  background-color: white;
  opacity: 0.5;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
  opacity: 1;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cb11ab4d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #cb11ab;
}

/* Fading animation */
.fade {
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.hit{
  margin: 30px 0 30px 8vw;
  font-weight: bold;
  font-size: 30px;
}

#products{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 5% 40px 5%;
}

.productCard{
  height: 285px;
  width: 200px;
}

.imgBlock{
  display: flex;
}


.ProductImg{
  height: 240px;
  width: 200px;
  position: relative;
}

.card{
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-color: #FDEEF9;
  border-style: none;
  border-radius: 20px;
  float: right;
  margin-right: 0;
}

.card:hover{
  background-color: plum;
}

.cardimg{
  height: 20px;
  width: 20px;

}

.perCard{
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 200px;
  width: 190px;
}

.percents{
  color:#cb11ab;
  background-color: #FDEEF9 ;
  border-radius: 20px;
  float: left;
  margin-left: 0;
}

.priceBlock{
  display: flex;
}

.pricing{
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.oldPrice{
  color: #999999;
  text-decoration: line-through;
}


.modalWindow{
  position: fixed;
  left: 0;
  top: 0;
  padding: 10vh 70vh 10vh 70vh;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
